* {
    margin: 0;
    padding: 0;
}
header h1{
    letter-spacing: 7px;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 30px;
    position: sticky;
    background: #fff;
    
}
nav{
    padding: 30px;
}
nav ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
}
nav ul li a{
    color: #000;
}
nav ul li{
    list-style-type: none;
    transition-property: background, border, color, border-radius;
}
nav ul li a:hover{
    background-color: #a3b2ec;
    color: white;
    border-radius: 3px;
    transition: .5s ease-in-out;
}
nav ul li a{
    padding: 10px;
    text-decoration: none;
    
}
.author{
     width: 150px;
     height: 20%;
     border-radius: 75%;
     
}
p{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}
section h2{
    text-align: center;
    padding: 10px;
    margin: 5px;
     
}

section{
    padding: 30px;
    margin: 0 20px;
}
.active{
    background-color: #a3b2ec;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
}


figure{
    display: flex;
    
}
.image{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.image:hover{
    width: 100%;
    transition: 1s;
    margin: auto;
}
footer{
    border-top: 1px solid black;
    position: sticky;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 480px) {
    figure{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .image{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    nav ul{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 5px;
        
        
    }
}
p:first-letter{
    color: red;
    font-weight: 900;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
footer a{
    color: black;
    text-align: center;
    padding: 10px;
}
footer i{
    font-size: 40px;
}